# Blacklist everything
*

# Whitelist application and test files
!/lib
!/index.js
!/package*
!/test
!/config.schema.json
!/integration/homebridge-wol/package.json
!/integration/homebridge-wol/config.json
!/integration/homebridge-wol/user-key
