node_modules
.DS_Store
integration/homebridge-wol/persist
integration/homebridge-wol/accessories
integration/homebridge-wol/log.txt
integration/homebridge-wol/package-lock.json
integration/homebridge-wol/.uix-secrets
integration/homebridge-wol/auth.json
